<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Studio Test Automation Test Suite">

    <test name="Web studio Test Cases">
        <classes>
            <class name="testcases.MachineCatalogPageTest"></class>
        </classes>
    </test>
</suite>